# Compiled Object files
**/.DS_Store
*.slo
*.lo
*.o
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json

include/divisible/*


## Local 

.idea/*.xml

build/**/*

include/*
lib/*
bin/*
test/test_runner
.vscode
.cache
.fiveserverrc

# Dependency directories
node_modules/**/*
jspm_packages/

# Three.js Build
!node_modules/three/
!node_modules/three/*/
!node_modules/three/build/*
# Three.js Controls
!node_modules/three/examples/*/
!node_modules/three/examples/jsm/
!node_modules/three/examples/jsm/*/
!node_modules/three/examples/jsm/controls/
!node_modules/three/examples/jsm/controls/OrbitControls.js
!node_modules/three/examples/jsm/controls/DragControls.js
!node_modules/three/examples/jsm/libs/
!node_modules/three/examples/jsm/libs/lil-gui.module.min.js
#!node_modules/three/examples/jsm/utils/
#!node_modules/three/examples/jsm/utils/*
#!node_modules/three/examples/jsm/loaders/
#!node_modules/three/examples/jsm/loaders/*